# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
.DS_Store
*.env
.env.local
.env.development
.env.test
.env.production

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Operating System files
Thumbs.db
.DS_Store
